@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v16/pe03MImSLYBIv1o4X1M8cc9yAv5qB1hZKbrZHg.woff2) format('woff2');
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 360px;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.placeholder.active {
  display: block;
  position: absolute;
  font-size: 12px;
  line-height: 14px;
  z-index: 2;
  transform: translateY(-22px);
  padding: 0 4px;
  transition: transform 0.2s ease-in-out;
}